@import './base.css';

#app {
    padding: 0;
    margin: 0;
    max-width: 1920px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Anybody", sans-serif;
}
